body, html{

    margin: 0;
    height: 100%;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    overflow-x: hidden;
    position: relative;
    z-index: -99;
    font-family: Arial, Helvetica, sans-serif !important; 

}
#logo{
    height: 80px  !important;
    width: auto;
    margin: 0 auto;
    display: block;
    text-align: left;
    position: absolute;
    z-index: 9;
}
.active{
    font-weight: bold !important;
    color: black !important;
    border-bottom: 2px solid black;
}

#mainNav a:hover{
    font-weight: bold;
    border-bottom: 2px solid black;

}
#dd-menu div:hover{
    
    background-color: #66ccff ;

}

.flex-container {
    display: flex;
    background-color: goldenrod;
    height: 30px;
    align-items: center;}
  
  .flex-container > div {
    background-color: goldenrod;
    margin: 1px;
    padding: 2px;
    font-size: 9px;
    height: 5px;
    position: relative;
  
  }
.p1{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: larger;
    text-align: center;
    width: 100%;
    color: black;
}
.p2{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: small;
    text-align: center;
    width: 100%;
    color: black;
}
.im{
    width: 100%;
}
.btn-group button {
    background-color: goldenrod; 
    border: 5px solid white;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
  }
  
  
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; 
  
  }
  .btn-group button:hover {
    background-color: firebrick;
  }
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .filterDiv {
    float: left;
    background-color: white;
    color: white;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 50px;
    overflow: hidden;
  }
  
  